@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

* {font-family: 'Readex Pro';}

a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

/* main.css */

/* Updated CSS for testimonials */

.testimonial-container {
    position: relative;
    width: 100%;
    text-align: center;
}

.testimonial-item {
    display: inline-block;
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
    width: 100%;
    color: #ffffff; /* Ensure text color is visible */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 16px;
    line-height: 1.5;
}

.testimonial-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.testimonial-nav-button:hover {
    background-color: #0056b3;
}

.testimonial-nav-left {
    left: 0;
}

.testimonial-nav-right {
    right: 0;
}
